/* CSS Document */
.A {
  background-color: blue;
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
}

.B {
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
}

.C {
  background-color: green;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
}
